################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Smart-Airport-Ride-Pooling/FileContentIndex/4a45289a-8231-487e-9e0c-44b74b719c72.vsidx
/.vs/Smart-Airport-Ride-Pooling/FileContentIndex/4e52ec9b-5712-4526-96c6-ee5ebd5b5dde.vsidx
/.vs/Smart-Airport-Ride-Pooling/FileContentIndex/467bd408-4909-4274-bac7-ac08f10930ba.vsidx
/.vs/Smart-Airport-Ride-Pooling/v17/.wsuo
/.vs/Smart-Airport-Ride-Pooling/FileContentIndex/2d8b206f-f548-4aed-b969-868c5f203c14.vsidx
/.vs/Smart-Airport-Ride-Pooling/FileContentIndex/f91eb340-fd3e-4b4a-a928-ea3b85644ed0.vsidx
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/Smart-Airport-Ride-Pooling
